---
interface Props {
	title: string;
}
import { useTranslations } from '@simplified/i18n';
import { translationsMap } from '../i18n';
import { getLocale, locales } from 'astro-i18n-aut';
import LangSwitcher from '../components/langSwitcher.astro';

const locale = getLocale(Astro.url)
const { t, l } = useTranslations(locale,Object.keys(locales), translationsMap)

const { title } = Astro.props;

const links = [
	{ href: l('/'), title: t('home.title') },
	{ href: l('/about'), title: t('about.title') },
]
---

<!doctype html>
<html lang={locale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body>
		<nav class="nav">
			<ul class="nav__list">

				{links.map((link) => (
					<li class="nav__item">
						<a class="nav__link" href={link.href}>{link.title}</a>
					</li>
				))}
				<li class="nav__item"><LangSwitcher /></li>
			</ul>
		</nav>
		<slot />
	</body>
</html>

<style is:global>
	html{
		font-size: larger;
	}
	.nav {
		background-color: #111;
		color: #ececec;
		font-weight: bold;
	}
	.nav__list {
		display: flex;
		list-style: none;
		padding-left: 0;
		gap: 1rem;
	}

	.nav__item {
		display: flex;
		align-items: center;
		
	}
	.nav__item:hover {
		background-color: #222;
	}

	.nav__link {
		color: #ececec;
		text-decoration: none;
		padding: 1rem;
	}

	body{
		background-color: #111;
		color: #ececec;
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;
		height: 100vh;
		margin: 0;
	}
</style>

